<h1>User</h1>
<p><%= @user.email %></p>

<hr>

<h3>User product</h3>
<% @user.products.each do |f| %>
  <% if f.stock > 0 %>
    <%= link_to f.title, product_path(f) %>
  <% end %>
<% end %>

<h3>Sell product</h3>
<% @user.products.each do |f| %>
  <% if f.stock == 0 %>
    <%= link_to f.title, product_path(f) %>
  <% end %> 
<% end %>

<%if current_user.id == @user.id %>
<h4> Follow </h4>
  <% @user.all_following.each do |f| %>
    <%= link_to f.email, user_path(f.id) %>
    <% @follow_user = User.find(f.id) %>
    <br>
    <% @follow_user.products.each do |p| %>
      <%= link_to p.title, product_path(p.id) %>
    <% end %>
    <br>
  <% end %>

<hr>
  <h4> Active Orders </h4>
    <% @user.orders.product.each do |f| %>
    <% f.each do |ff| %>
    <% if ff.status == "unsubmitted" %>
      <%= link_to ff.id, order_path(f) %>
    <% end %>
    <% end %>
  <% end %>

  <h4> Past Orders </h4>
    <% @user.orders.product.each do |f| %>
    <% f.each do |ff| %>
    <% if ff.status == "submitted" %>
      <%= link_to ff.id, order_path(f) %>
    <% end %>
    <% end %>
  <% end %>

  <h4> Paid for you Orders </h4>
    <% @user.orders.product.each do |f| %>
    <% f.each do |ff| %>
    <% if ff.status == "paid" %>
      <%= link_to ff.id, order_path(f) %>
    <% end %>
    <% end %>
  <% end %>

  <h4> Sent to you Orders </h4>
    <% @user.orders.product.each do |f| %>
    <% f.each do |ff| %>
    <% if ff.status == "sent" %>
      <%= link_to ff.id, order_path(f) %>
      <%= link_to "Delivered", product_orders_order_item_path(OrderItem.find_by_order_id(ff.id), type: "delivered") %>
    <% end %>
    <% end %>
  <% end %>

  <h4> Delivered to you Orders </h4>
    <% @user.orders.product.each do |f| %>
    <% f.each do |ff| %>
    <% if ff.status == "delivered" %>
      <%= link_to ff.id, order_path(f) %>

    <% end %>
    <% end %>
  <% end %>

<hr>

  <h4>Active sellers</h4>
  <% @brr.each do |f| %>
    <% if Order.find(f.order_id).status == "unsubmitted"%>
      <%= link_to f.product_id, product_path(f.product_id) %>
    <% end %>
  <% end %>

  <h4>Ordered products</h4>
   <% @brr.each do |f| %>
    <% if Order.find(f.order_id).status == "submitted"%>
      <%= link_to f.product_id, product_path(f.product_id) %> 
      <%= link_to "Paid", product_orders_order_item_path(f.id, type: "paid") %>
    <% end %>
  <% end %>

   <h4>Paid products</h4>
   <% @brr.each do |f| %>
    <% if Order.find(f.order_id).status == "paid"%>
      <%= link_to f.product_id, product_path(f.product_id) %> 
      <%= link_to "Sent", product_orders_order_item_path(f.id, type: "sent") %>
    <% end %>
  <% end %>


  <h4>Sent products</h4>
   <% @brr.each do |f| %>
    <% if Order.find(f.order_id).status == "sent"%>
      <%= link_to f.product_id, product_path(f.product_id) %> 
    <% end %>
  <% end %>

   <h4>Delivered products</h4>
   <% @brr.each do |f| %>
    <% if Order.find(f.order_id).status == "delivered"%>
      <%= link_to f.product_id, product_path(f.product_id) %>
    <% end %>
  <% end %>

<% end %>

<hr>
<h3>Vote</h3>
<% p = 0 %>
<% @user.votes.each do |f| %>
    <p><%p+= f.culture%></p>
    <p><%p+= f.comunication%></p>
    <p><%p+= f.compatibility%></p>
<% end %>

<h4>Average vote: <%= (p/(@user.votes.count*3.0))%> </h4>

<hr>
  <% @user.votes.each do |f| %>
    <p><%= f.culture%></p>
    <p><%= f.comunication%></p>
    <p><%= f.compatibility%></p>
    <p><%= f.summary%></p>
    <p><%= f.type_orders%></p>
    <p><%= f.comment%></p>
    <br>
  <% end %>
<hr>

<%if @user.active && @user.id != current_user.id%>
  <%= link_to "Vote", new_vote_path(@user)%>
<% end %>
<hr>
<%= link_to "Follow", follow_user_path(@user)%>
<%= link_to "Unfollow", follow_user_path(@user, type: "unfollow")%>
<hr>

