<% provide(:title, "Order") %>
<% breadcrumb :order %>
<h1>Your Order</h1>

<table>
  <tr>
    <th>Customer</th>
    <td><%= @order.user_id %></td>
  </tr>
  <tr>
    <th>Status:</th>
    <td><%= @order.status %></td>
  </tr>
  <tr>
    <th>Items:</th>
    <td><%= @order.order_items.count %></td>
  </tr>
  <tr>
    <th>Items</th>
    <th>Title</th>
    <th>Quantity</th>
    <th>Unit Price</th>
    <th>Stock</th>
    <th>Subtotal</th>
  </tr>
  <% @order.order_items.each do |item| %>
  <tr>
  <td></td>
  <td><%= item.product.title%></td>
  <% if check_stock(item.product.stock, item.quantity) &&  @order.status == "unsubmitted" %>
  <td><%= link_to item.quantity, edit_order_item_path(item) %></td>
  <% end %>
  <td><%= print_price(item.product.price)%></td>
  <td><%= print_stock(item.product.stock, item.product.quantites_total)%> </td>
  <td><%= print_price item.subtotal(item.quantity, item.product.price) %>
  <% if @order.status == "unsubmitted" %>
    <td><%= link_to 'Remove', item, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  <% end %>
</td>
  </tr>
<% end %>
</table>

<h2> Total: </h2> <%= print_price @order.total%> 
<br>

<% if @order.status == "unsubmitted" %>
  <%= link_to "Buy", buy_order_items_path %>
  <br>
  <%= link_to "Empty Cart", @order, data: { confirm: 'Are you sure?' }, method: :delete %>
<% elsif @order.status == "submitted"%>
  <% @order.order_items.each do |f| %>
  <p>Seller: <%= User.find(Product.find(f.product_id).user_id).email %></p>
  <p>Buyer: <%= User.find(Order.find(f.order_id).user_id).email %></p>
  <p>Product <%= Product.find(f.product_id).title %></p>
  <p>Pay: <%= f.subtotal(f.quantity, Product.find(f.product_id).price)  %></p>
<% end %>
<% elsif @order.status == "delivered"%>
  <div class="row">
  <div class="small-2 large-4 columns">
  <% @order.order_items.each do |f| %>
    <% if current_user %>
      User:  <%= User.find(Product.find(f.product_id).user_id).email %>
      <br>
      Culture: <%= rating_for User.find(Product.find(f.product_id).user_id), "culture", disable_after_rate: true, enable_half: true, imdb_avg: true%>
      <br>
      Speed: <%= rating_for User.find(Product.find(f.product_id).user_id), "speed", disable_after_rate: true, enable_half: true, imdb_avg: true %>

    <% end %>
  </div>
</div>
<%end %>
<%end %>
