<%= form_for(@category) do |f| %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name  %>
  </div>


  <% if params[:format].present? %>
       <%= hidden_field_tag 'parent_id', params[:format] %>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

