<% provide(:title,"Index") %>
<h1>Listing Products</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Price</th>
     
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @products.each do |product| %>
    <% if product.active == true %>
  <tr>
    <td><span class="product_title"><%= link_to product.title, product %></span><%= product.description %></td>
    <td><%= print_price(product.price) %></td>
    <% if product.order_items %>
      <td><%= print_stock(product.stock, product.quantites_total) %></td>
    <% else %>
      <td><%= print_stock(product.stock, 0) %></td>
    <% end %>
    <% if check_stock(product.stock, product.quantites_total) %>
      <td><%= button_to "Add to Cart", order_items_path(product_id: product.id) %></td>
    <% end %>
  </tr>
  <% end %>
<% end %>
<%= link_to 'New Product', new_product_path %>
  </tbody>
</table>

<hr>
User profile: <%= link_to "#{current_user.email}", user_path(current_user) %>