<% provide(:title, "#{@product.title}" ) %>
<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @product.title %>
</p>

<p>
  <strong>Price:</strong>
  <%= @product.price %>
</p>

<p>
  <strong>Description:</strong>
  <%= @product.description %>
</p>

<p>
  <strong>Stock:</strong>
  <%= @product.stock %>
</p>

<p>
  <strong>Image url:</strong>
  <%= image_tag @product.avatar.url(:medium) %>
</p>

<%if current_user.id == @product.user.id %>
<hr>
  <h4>Info to send </h4>
  <% @product.order_items.each do |f| %>
    <% if (Order.find(f.order_id).status == "submitted") %>
      <p>Seller: <%= User.find(Product.find(f.product_id).user_id).email %></p>
      <p>Buyer: <%= User.find(Order.find(f.order_id).user_id).email %></p>
      <p>Adress: LOLEK</p>
      <p><%= f.quantity %></p>
      <br>
    <% end %>
  <% end %>
<hr>

<hr>
  <h4>In Basket</h4>
  <% @product.order_items.each do |f| %>
    <% if (Order.find(f.order_id).status != "submitted") %>
      <p>Seller: <%= User.find(Product.find(f.product_id).user_id).email %></p>
      <p>Buyer: <%= User.find(Order.find(f.order_id).user_id).email %></p>
      <p>Adress: LOLEK</p>
      <p><%= f.quantity %></p>
      <br>
    <% end %>
  <% end %>
<hr>
<% end %>

<hr>

<h4>Delivered</h4>
  <% @product.order_items.each do |f| %>
    <% if (Order.find(f.order_id).status == "delivered") %>
      <p>Buyer: <%= User.find(Order.find(f.order_id).user_id).email %></p>
      <br>
      Culture: <%= rating_for User.find(Order.find(f.order_id).user_id), "culture", disable_after_rate: true, enable_half: true, imdb_avg: true %>
      <br>
      Speed: <%= rating_for User.find(Order.find(f.order_id).user_id), "speed", disable_after_rate: true, enable_half: true, imdb_avg: true%>
    <% end %>
  <% end %>
<hr>
<p>Viewed: <%= @product.impressionist_count(:filter=>:all) %> </p>
<hr>
<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>


