<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to "Merchant", root_path, class: "navbar-brand" %>
    </div>


     

    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav pull-right">

       <div class="navbar-form navbar-left">
          <div class="ui-widget">
            <input id="titles" class="form-control" placeholder="Search" />
          </div>
      </div>


        <% if user_signed_in? %>
            <li><%= link_to "Hello, #{current_user.email}", "#" %></li>
            
            <li class="active"><%= link_to mailbox_inbox_path do%> 
              <div class="notify">
                <span class="label label-danger pull-right"><%=unread_messages_count%></span>
                <em class="fa fa-inbox fa-lg"> </em> Inbox &nbsp;
              </div>
              <% end %>
            </li>
           
            <li><%= link_to "Logout", destroy_user_session_path, method: :delete %></li>
        <% else %>
            <li class="active"><%= link_to "Login", new_user_session_path %></li>
            <li><%= link_to "Sign up", new_user_registration_path %></li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>